<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'driver-manage' | translate}}</h2>
        </div>
        <!--<div flex layout-align="end center" layout="row">-->
            <!--<md-button class="md-primary md-raised" ng-click="driverDetail('', $event)" ng-disabled="isLoading">-->
                <!--<md-icon>add</md-icon>-->
                <!--{{'add-new-driver' | translate}}-->
            <!--</md-button>-->
        <!--</div>-->
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loaddriver">
        <tr>
            <th name="{{'avatar' | translate}}"></th>
            <th order-by="fullname" name="{{'fullname' | translate}}"></th>
            <th order-by="username" name="{{'username' | translate}}"></th>
            <th order-by="mobile_phone" name="{{'mobile_phone' | translate}}"></th>
            <th order-by="home_phone" name="{{'home_phone' | translate}}"></th>
            <th order-by="office_phone" name="{{'office_phone' | translate}}"></th>
            <th order-by="email" name="{{'email' | translate}}"></th>
            <th order-by="status" name="{{'status' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="driver in drivers">
            <td><img class="img-ava" ng-src="{{driver.avatar}}" alt="{{driver.username}}"/></td>
            <td>{{driver.fullname || 'N/A'}}</td>
            <td>{{driver.username || 'N/A'}}</td>
            <td>{{driver.mobile_phone || 'N/A'}}</td>
            <td>{{driver.home_phone || 'N/A'}}</td>
            <td>{{driver.office_phone || 'N/A'}}</td>
            <td>{{driver.email || 'N/A'}}</td>
            <td><span ng-class="{'txt-disabled': driver.status == 0, 'txt-success': driver.status == 1, 'txt-warn': driver.status == 2}">{{statusText(driver.status)}}</span></td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="driverDetail(driver.id, $event)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeDriver(driver.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadDriver"></md-data-table-pagination>

<script type="text/ng-template" id="public/views/driver/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="form" novalidate>

                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'fullname' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="driver_fullname" ng-model="driverDetail.fullname" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'username' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="driver_username" ng-model="driverDetail.username" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'email' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="driver_email" ng-model="driverDetail.email" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'mobile_phone' | translate}}</label>
                            <md-icon>phone</md-icon>
                            <input type="text" name="driver_mobile_phone" ng-model="driverDetail.mobile_phone" validation="min_len:10"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'home_phone' | translate}}</label>
                            <md-icon>home</md-icon>
                            <input type="text" name="driver_home_phone" ng-model="driverDetail.home_phone" />
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'office_phone' | translate}}</label>
                            <md-icon>work</md-icon>
                            <input type="text" name="driver_office_phone" ng-model="driverDetail.office_phone" />
                        </md-input-container>

                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill ng-if="driverDetail.id">
                            <label>{{'approve' | translate}}</label>
                            <md-icon>public</md-icon>
                        </md-input-container>
                        <md-input-container flex class="md-icon-float md-input-has-validate padleft30" layout-fill ng-if="driverDetail.id">
                            <md-checkbox ng-model="driverDetail.status" ng-true-value="1" ng-false-value="0">
                                {{'approve' | translate}}
                            </md-checkbox>
                        </md-input-container>

                        <md-input-container  flex class="md-icon-float marright5 md-input-has-validate" layout-fill ng-if="driverDetail.id && isAdmin">
                            <label>{{'new-password' | translate}}</label>
                            <md-icon>lock</md-icon>
                            <input type="password" name="password" ng-model="driverDetail.password" />

                        </md-input-container>

                        <md-input-container  flex class="md-icon-float marright5 md-input-has-validate" layout-fill ng-if="driverDetail.id && isAdmin">
                            <label>{{'renew-password' | translate}}</label>
                            <md-icon>lock</md-icon>
                            <input type="password" name="repassword" ng-model="driverDetail.repassword" validation="match:driverDetail.password:alt={{'password_not_match' | translate}}"/>
                        </md-input-container>
                    </div>

                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>