<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'pending-approval' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row" ng-show="selected.length">
            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
            <md-button class="md-primary md-raised" ng-click="approveItem(false, 'approve', $event)" ng-disabled="isLoading">
                <md-icon>done</md-icon>
                {{ 'approve' | translate}}
            </md-button>
            <md-button class="md-warn md-raised" ng-click="approveItem(false, 'cancel', $event)" ng-disabled="isLoading">
                <md-icon>block</md-icon>
                {{ 'reject' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadUsers">
        <tr>
            <th order-by="username" name="{{ 'username' | translate}}"></th>
            <th order-by="email" name="{{ 'email' | translate}}"></th>
            <th order-by="name" name="{{ 'company' | translate}}"></th>
            <th order-by="address" name="{{ 'company_address' | translate}}"></th>
            <th order-by="mobile_phone" name="{{ 'mobile' | translate}}"></th>
            <th order-by="home_phone" name="{{ 'home_phone' | translate}}"></th>
            <th order-by="office_phone" name="{{ 'office' | translate}}"></th>
            <th name="Actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username || 'N/A'}}</td>
            <td>{{user.email || 'N/A'}}</td>
            <td>{{user.name || 'N/A'}}</td>
            <td>{{user.address || 'N/A'}}</td>
            <td>{{ user.mobile_phone || 'N/A' }}</td>
            <td>{{user.home_phone || 'N/A'}}</td>
            <td>{{user.office_phone || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="approveItem(user.id, 'approve', $event)" ng-disabled="isLoading">
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="approveItem(user.id, 'cancel', $event)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadUsers"></md-data-table-pagination>