<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'location-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="locationDetail('', $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-location' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadbus">
        <tr>
            <th order-by="name" name="{{'name' | translate}}"></th>
            <th order-by="address" name="{{'address' | translate}}"></th>
            <th order-by="X" name="{{'lat' | translate}}"></th>
            <th order-by="Y" name="{{'long' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in locations">
            <td>{{location.name || 'N/A'}}</td>
            <td>{{location.address || 'N/A'}}</td>
            <td>{{location.X || 'N/A'}}</td>
            <td>{{location.Y || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="locationDetail(location.id, $event)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeLocation(location.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadLocation"></md-data-table-pagination>

<script type="text/ng-template" id="public/views/location/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'name' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="name" ng-model="locationDetail.name" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'adress' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="address" ng-model="locationDetail.address" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'lat' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="lat" ng-model="locationDetail.X" validation="required|min_len:5" />
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'long' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="long" ng-model="locationDetail.Y" validation="required|min_len:5" />
                        </md-input-container>
                    </div>

                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>