<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'notification-manage' | translate}}</h2>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadbus">
        <tr>
            <th order-by="at" name="{{'at' | translate}}"></th>
            <th order-by="message" name="{{'message' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notification in notifications">
            <td>{{(notification.at | date:'HH:mm dd/MM')}}</td>
            <td>{{notification.message}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadNotification"></md-data-table-pagination>
