@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v15-latin/roboto-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin/roboto-v15-latin-300.woff') format('woff'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin/roboto-v15-latin-regular.woff') format('woff'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v15-latin/roboto-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin/roboto-v15-latin-500.woff') format('woff'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../fonts/roboto-v15-latin/roboto-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin/roboto-v15-latin-italic.woff') format('woff'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v15-latin/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v15-latin/roboto-v15-latin-700.woff') format('woff'); /* Legacy iOS */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/2fcrYFNaTjcS6g4U3t-Y5bbKic1PW3nceB3q24YFOMg.ttf) format('truetype');
}

.ver-middle {vertical-align: middle !important;}
.marcenter {margin-left: auto; margin-right: auto;}
.marmiddle {margin: auto;}
.text-uppercase {text-transform: uppercase;}
.clearboth {height: 0px;clear: both;}
.text-right{text-align: right;}
.text-center {text-align: center;}
.text-left {text-align: left !important;}
.text-justify {text-align: justify;}
.white {color: #fff;}
.float-left { float: left; }
.float-right { float: right; }
.no-underline {text-decoration: none;}
.underline {text-decoration: underline}
.italic {font-style:italic;}

a.underline, a:hover.underline, a:link.underline, a:active.underline, a:visited.underline{text-decoration: underline;}
a.no-underline, a:hover.no-underline, a:link.no-underline, a:active.no-underline, a:visited.no-underlinea.no-underline {text-decoration: none;}

.mar0 {margin: 0px !important;}
.marleft0 {margin-left: 0px !important;}
.marright0 {margin-right: 0px !important;}
.martop0 {margin-top: 0px !important;}
.marbottom0 {margin-bottom: 0px !important;}

.mar5 {margin: 5px;}
.marleft5 {margin-left: 5px;}
.marright5 {margin-right: 5px;}
.martop5 {margin-top: 5px !important;}
.marbottom5 {margin-bottom: 5px;}

.mar10 {margin: 10px;}
.martop10 {margin-top: 10px;}
.marright10 {margin-right: 10px;}
.marbottom10 {margin-bottom: 10px;}
.marleft10 {margin-left: 10px;}

.mar20 {margin: 20px;}
.martop20 {margin-top: 20px;}
.marright20 {margin-right: 20px;}
.marbottom20 {margin-bottom: 20px;}
.marleft20 {margin-left: 20px;}

.pad0 {padding: 0 !important;}
.padtop0 {padding-top: 0px;}
.padright0 {padding-right: 0px !important;}
.padbottom0 {padding-bottom: 0px;}
.padleft0 {padding-left: 0px;}

.pad5 {padding: 5px;}
.padtop5 {padding-top: 5px;}
.padright5 {padding-right: 5px;}
.padbottom5 {padding-bottom: 5px;}
.padleft5 {padding-left: 5px;}

.pad10 {padding: 10px;}
.padtop10 {padding-top: 10px;}
.padright10 {padding-right: 10px;}
.padbottom10 {padding-bottom: 10px;}
.padleft10 {padding-left: 10px;}

.padleft20 {padding-left: 20px;}
.padright20 {padding-right: 20px;}
.padbottom20 {padding-bottom: 20px;}
.padtop20 {padding-top:20px;}
.pad20{padding: 20px;}

.padleft30 {padding-left: 30px;}
.padright30 {padding-right: 30px;}
.padbottom30 {padding-bottom: 30px;}
.padtop30 {padding-top:30px;}
.pad30{padding: 30px;}
.txt-warn {color: rgb(244, 67, 54);}
.txt-success {color: #8BC34A;}
.txt-disabled {color: #888;}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.green {color: green;}
.orange {color: orange;}
img.toolbar-logo {
    height: 55px;
}

.md-avatar {
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
}

md-toolbar .md-avatar {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    float: left;
}
.img-ava {
    width: 42px;
    height: 42px;
    margin: 3px 0;
}
.dialog-register {
    width: 600px;
    max-width: 100%;
    max-height: 800px;
}
.dialog-fix {
    width: 600px;
    max-width: 100%;
    max-height: 800px;
}

.validation {
    position: relative;
    order: 4;
    color: rgb(244, 67, 54);
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    padding-top: 5px;
}

md-toast.md-success-toast-theme {
    background-color: #8BC34A;
}

md-toast.md-error-toast-theme {
    background-color: #BF360C;
}

md-list-item.active {
    border-bottom: 2px solid rgb(0,150,136);
    color: rgb(0,150,136);
    font-weight: bold;
}

md-list-item.active md-icon {
    color: rgb(0,150,136);
}

md-tabs.md-default-theme, md-tabs.custom-tabs md-ink-bar {
    color: rgb(255,171,64);
    background: rgb(255,171,64);
}

md-input-container.md-icon-float {
    margin-top: -8px;
}

md-input-container.md-input-has-validate {
    min-height: 99px;
}

.img-circle {
    border-radius: 50%;
    border: 1px solid rgb(0,150,136);
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    padding: 2px;
}

.img-circle:hover {
    border-radius: 0;
}

.my-account .md-avatar {
    height: 100px;
    width: 100px;
}

.child-avatar {
    width: 200px;
    height: 200px;
}
.only_label {
    height: 49px;
    min-height: 49px !important;
    padding: 0;
}
.only_label label {
    color: #000 !important;
    font-size: 12px;
    font-weight: normal;
    margin-left: 30px !important;
    top: -25px;
}
.only_label md-icon {
    top: 0px !important;
}
.custom_row {
    height: auto;
    min-height: 0;
    padding: 0 0 0 50px;
}
.custom_row md-input-container{
    min-height: 0;
}
.padding30{
    padding:5px 30px 30px 30px;
    box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.padding20.flex-50{
    padding:20px;
}
.padding20{
    padding:5px 20px 20px 20px;
    box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.padding30 md-divider,.padding20 md-divider{
    margin-bottom: 30px;
}
.padding30 h1,.padding20 h1{
    margin-bottom: 10px;
    font-size: 24px;
}
.height75{
    min-height: 0;
    height: 75px;
}
.custom_list{
    padding:0 !important;
}
.custom_list_item {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    height: 72px;
    margin-bottom: 15px;
    padding: 0 15px;
}
.preloader {
    background: white url("../images/Preloader_3.gif") no-repeat scroll 50% 50%;
    height: 100%;
    padding: 50px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
bmap label {
    max-width: none;
}

.horizontal-form > md-input-container > md-select {
    margin-left: 36px;
    margin-top: -15px;
}
.horizontal-form .layout-row md-select.fix-margin{
    margin: 0 10px 0 0;
}
.horizontal-form md-card, .horizontal-form md-autocomplete {
    margin: -15px 0 26px 36px;
}
md-select-menu[multiple] md-option[selected="selected"] .md-text::after,
md-select-menu[multiple] md-option .md-text::after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    right: 16px;
    top: 16px;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 18px;
}
md-select-menu[multiple] md-option[selected="selected"] .md-text::after {
    content: "check_box";
}
md-select-menu[multiple] md-option .md-text::after {
    content: "check_box_outline_blank";
}

/** Custom color;*/
md-list-item.active.purple {
    border-bottom: 2px solid rgb(234, 128, 252);
    color: rgb(234, 128, 252);
}

md-list-item.active.purple md-icon {
    color: rgb(234, 128, 252);
}

.img-circle.purple {
    border-radius: 50%;
    border: 1px solid rgb(234, 128, 252);
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    padding: 2px;
}
.bg-white {
    background-color: #fff !important;
}
body.purple md-dialog-content {
    background-color: #fff;
}
.fix-md-list md-list-item {
    min-height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
md-sidenav, md-sidenav.md-locked-open {
    max-width: 304px;
    min-width: 220px;
    width: auto;
}
md-list-item .md-list-item-inner p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/** Calendar style*/
.fc .fc-view-container *, .fc .fc-view-container *::before, .fc .fc-view-container *::after {
    box-sizing: border-box;
}
.fc > .fc-view-container > .fc-view > table {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.fc .fc-toolbar {
    background-color: rgb(0, 188, 212);
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 0;
    min-height: 60px;
    padding: 10px 15px;
}
.fc-head tr th {
    background-color: rgba(0, 0, 0, 0.02);
    min-height: 36px;
    min-width: 36px;
    padding: 8px;
}
.fc-event.ph-day {
    background-color: #50B68E;
    border: 1px solid #50B68E;
}
.fc-event.his-day {
    opacity: 0.65;
}
.fc-event.ph-day:hover {
    cursor: default;
}
.fc-event:hover {
    cursor: pointer;
}

.fc .fc-button {
    -moz-user-select: none;
    align-items: center;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-sizing: border-box;
    color: currentcolor;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 500;
    line-height: 36px;
    margin: 6px 8px;
    min-height: 36px;
    outline: 0 none;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    white-space: nowrap;
}

.fc .fc-button.fc-month-button ,
.fc .fc-button.fc-agendaWeek-button ,
.fc .fc-button.fc-agendaDay-button {
    width: 65px;
}
.fc .fc-center h2 {
    font-size: 22px;
    margin: 10px 0;
}
md-data-table-pagination .label {
    color: rgba(0, 0, 0, 0.54);
}
md-input-container.md-icon-float > md-icon +  md-select{
    margin-left: 35px;
}
md-input-container.md-icon-float > md-select{
    padding-top: 24px;
}
md-input-container .md-placeholder.md-static{
    display: none;
}

body table[md-data-table][md-row-select]>tbody>tr>td:nth-child(n+3):nth-last-child(n+2),
body table[md-data-table][md-row-select]>tfoot>tr>td:nth-child(n+3):nth-last-child(n+2),
body table[md-data-table][md-row-select]>thead:not([md-table-progress])>tr>th:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 15px;
}