<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'bus_card_title' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-register">
        <div class="md-dialog-content">

            <form name="form" novalidate>
                <div layout="column" layout-align="center center">
                    <md-input-container flex class="md-icon-float" layout-fill>
                        <label>{{'card_in' | translate}}</label>
                        <md-icon>credit_card</md-icon>
                        <input type="text" name="card_in" ng-model="card.cin.card" ng-disabled="true"/>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float" layout-fill>
                        <label>{{'card_out' | translate}}</label>
                        <md-icon>credit_card</md-icon>
                        <input type="text" name="card_out" ng-model="card.cout.card" ng-disabled="true"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'bus' | translate}}</label>
                        <md-icon>directions_bus</md-icon>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 only_label" layout-fill>
                        <md-select ng-model="busDetail.id" ng-change="loadBusDetail()" placeholder="{{'select_bus' | translate}}">
                            <md-option ng-repeat="bus in buses" ng-value="bus.id">{{bus.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'license_plate_no' | translate}}</label>
                        <md-icon>account_circle</md-icon>
                        <input type="text" name="bus_license_plate_no" ng-model="busDetail.license_plate_no" ng-disabled="busSelected" validation="required|min_len:5"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'registered_country' | translate}}</label>
                        <md-icon>email</md-icon>
                        <input type="text" name="bus_registered_country" ng-model="busDetail.registered_country" ng-disabled="busSelected" validation="required|min_len:5"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'snd_license_plate_no' | translate}}</label>
                        <md-icon>account_circle</md-icon>
                        <input type="text" name="bus_snd_license_plate_no" ng-model="busDetail.snd_license_plate_no" ng-disabled="busSelected" ng-required="busDetail.snd_registered_country" />
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'snd_registered_country' | translate}}</label>
                        <md-icon>email</md-icon>
                        <input type="text" name="bus_snd_registered_country" ng-model="busDetail.snd_registered_country" ng-disabled="busSelected" ng-required="busDetail.snd_license_plate_no"/>
                    </md-input-container>


                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'description' | translate}}</label>
                        <md-icon>comment</md-icon>
                        <textarea name="bus_description" ng-model="busDetail.description" ng-disabled="busSelected" validation=""></textarea>
                    </md-input-container>
                </div>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'save' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>