<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'bus-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="busDetail('', $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-bus' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadbus">
        <tr>
            <th order-by="license_plate_no" name="{{'license_plate_no' | translate}}"></th>
            <th order-by="registered_country" name="{{'registered_country' | translate}}"></th>
            <th order-by="snd_license_plate_no" name="{{'snd_license_plate_no' | translate}}"></th>
            <th order-by="snd_registered_country" name="{{'snd_registered_country' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bus in buses">
            <td>{{bus.license_plate_no || 'N/A'}}</td>
            <td>{{bus.registered_country || 'N/A'}}</td>
            <td>{{bus.snd_license_plate_no || 'N/A'}}</td>
            <td>{{bus.snd_registered_country || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="busDetail(bus.id, $event)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeBus(bus.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadBus"></md-data-table-pagination>

<script type="text/ng-template" id="public/views/bus/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'license_plate_no' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="bus_license_plate_no" ng-model="busDetail.license_plate_no" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'registered_country' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="bus_registered_country" ng-model="busDetail.registered_country" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'snd_license_plate_no' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="bus_snd_license_plate_no" ng-model="busDetail.snd_license_plate_no" ng-required="busDetail.snd_registered_country" />
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'snd_registered_country' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="bus_snd_registered_country" ng-model="busDetail.snd_registered_country" ng-required="busDetail.snd_license_plate_no"/>
                        </md-input-container>


                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'description' | translate}}</label>
                            <md-icon>comment</md-icon>
                            <textarea name="bus_description" ng-model="busDetail.description" validation=""></textarea>
                        </md-input-container>
                    </div>

                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>