
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'add-new-route' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-register">
        <div class="md-dialog-content">

            <form name="form" validate>
                <div layout="column" layout-align="center center">
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'name' | translate}}</label>
                        <md-icon>person</md-icon>
                        <input type="text" name="route-name" ng-model="routeDetailData.name" validation="required|min_len:5"/>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate hide" layout-fill>
                        <label>{{'routeid' | translate}}</label>
                        <md-icon>person</md-icon>
                        <input type="text" name="route-id" ng-model="routeDetailData.routeid" />
                    </md-input-container>
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'driver' | translate}}</label>
                        <md-icon>person</md-icon>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <md-select ng-model="routeDetailData.driver_id" placeholder="{{'select_driver' | translate}}" ng-required="true" >
                            <md-option ng-repeat="driver in CompanyResource.drivers" ng-value="{{driver.id}}" >{{driver.fullname}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'assistant' | translate}}</label>
                        <md-icon>account_circle</md-icon>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <md-select ng-model="routeDetailData.assistant_id" placeholder="{{'select_assistant' | translate}}" ng-required="true">
                            <md-option ng-repeat="assistant in CompanyResource.assistants" ng-value="{{assistant.id}}" >{{assistant.fullname}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'bus' | translate}}</label>
                        <md-icon>directions_bus</md-icon>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <md-select ng-model="routeDetailData.bus_id" placeholder="{{'select_bus' | translate}}" ng-required="true">
                            <md-option ng-repeat="bus in CompanyResource.buses" ng-value="{{bus.id}}" >{{bus.license_plate_no}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'plan_date' | translate}}</label>
                        <md-icon>today</md-icon>
                        <input type="text" name="route_plan_date" ng-model="routeDetailData.plan_date" validation="required" class="datepicker"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'estimate_from' | translate}}</label>
                        <md-icon>access_time</md-icon>
                        <input type="text" name="route_estimate_from" ng-model="routeDetailData.estimate_from" validation="required" class="timepicker1"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'estimate_to' | translate}}</label>
                        <md-icon>access_time</md-icon>
                        <input type="text" name="route_estimate_to" ng-model="routeDetailData.estimate_to" validation="required" class="timepicker2"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'description' | translate}}</label>
                        <md-icon>comment</md-icon>
                        <textarea name="route_description" ng-model="routeDetailData.description" validation=""></textarea>
                    </md-input-container>
                </div>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'accept' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>