<div layout="column" flex>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>

    <div layout="row" flex>
        <md-button ng-click="confirm()" class="md-raised md-primary" ng-disabled="isLoading">
            {{'save' | translate}}
        </md-button>
        <md-button ng-click="go('route')" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>

    <div layout="column" flex layout-padding class="martop20">

        <form name="routeDetail" novalidate flex layout-fill layout="row" class="bg-white">
            <md-card flex="40" class="padding30 bg-white">
                <h1 class="md-title3">{{'basic_information' | translate}}</h1>
                <md-divider></md-divider>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'name' | translate}}</label>
                    <md-icon>person</md-icon>
                    <input type="text" name="route-name" ng-model="routeDetailData.name" validation="required|min_len:5"/>
                </md-input-container>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <label>{{'driver' | translate}}</label>
                    <md-icon>person</md-icon>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <md-select ng-model="routeDetailData.driver_id" placeholder="{{'select_driver' | translate}}" ng-required="true">
                        <md-option ng-repeat="driver in companyResource.drivers" ng-value="{{driver.id}}" >{{driver.fullname}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <label>{{'assistant' | translate}}</label>
                    <md-icon>account_circle</md-icon>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <md-select ng-model="routeDetailData.assistant_id" placeholder="{{'select_assistant' | translate}}" ng-required="true">
                        <md-option ng-repeat="assistant in companyResource.assistants" ng-value="{{assistant.id}}" >{{assistant.fullname}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <label>{{'bus' | translate}}</label>
                    <md-icon>directions_bus</md-icon>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label">
                    <md-select ng-model="routeDetailData.bus_id" placeholder="{{'select_bus' | translate}}" ng-required="true">
                        <md-option ng-repeat="bus in companyResource.buses" ng-value="{{bus.id}}" >{{bus.license_plate_no}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'plan_date' | translate}}</label>
                    <md-icon>today</md-icon>
                    <input type="text" name="route_plan_date" ng-model="routeDetailData.plan_date" validation="required" class="datepicker" />
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'estimate_from' | translate}}</label>
                    <md-icon>access_time</md-icon>
                    <input type="text" name="route_estimate_from" ng-model="routeDetailData.estimate_from" validation="required" class="timepicker1"/>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'estimate_to' | translate}}</label>
                    <md-icon>access_time</md-icon>
                    <input type="text" name="route_estimate_to" ng-model="routeDetailData.estimate_to"  validation="required" class="timepicker2"/>
                </md-input-container>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate" style="display:none !important;">
                    <label>{{'schedule_id' | translate}}</label>
                    <input type="text" name="route_schedule_id" ng-model="routeDetailData.schedule_id"  />
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'description' | translate}}</label>
                    <md-icon>comment</md-icon>
                    <textarea name="route_description" ng-model="routeDetailData.description" validation=""></textarea>
                </md-input-container>
            </md-card>
            <div flex="60">
                <div flex layout-fill layout="row" class="custom_row">
                    <md-checkbox ng-model="routeDetailData.schedule">
                        {{'route_schedule' | translate}}
                    </md-checkbox>
                </div>
                <!--<div flex layout-fill layout="row" class="custom_row">
                    <div id="route_schedule" >
                        <md-select ng-model="someModel" placeholder="{{'route_schedule_type' | translate}}">
                            <md-option ng-value="weekly" >{{'weekly_schedule' | translate}}</md-option>
                            <md-option ng-value="specify_date" >{{'specify_date_schedule' | translate}}</md-option>
                        </md-select>
                    </div>
                </div>-->
                <md-card class="padding20 bg-white" ng-hide="!routeDetailData.schedule">
                    <div flex layout-fill layout="row" class="custom_row">
                        <div flex="50">
                            <md-checkbox ng-model="routeDetailData.day2" aria-label="{{'monday' | translate}}">
                                {{'monday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="routeDetailData.day3" aria-label="{{'tuesday' | translate}}">
                                {{'tuesday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="routeDetailData.day4" aria-label="{{'wednesday' | translate}}">
                                {{'wednesday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="routeDetailData.day5" aria-label="{{'thursday' | translate}}">
                                {{'thursday' | translate}}
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <md-checkbox ng-model="routeDetailData.day6" aria-label="{{'friday' | translate}}">
                                {{'friday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="routeDetailData.day7" aria-label="{{'saturday' | translate}}">
                                {{'saturday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="routeDetailData.day8" aria-label="{{'sunday' | translate}}">
                                {{'sunday' | translate}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div flex layout-fill layout="row" class="custom_row">
                        <div flex="50">
                            <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                                <label>{{'repeat_from' | translate}}</label>
                                <md-icon>today</md-icon>
                                <input type="text" name="schedule_repeat_from" ng-model="routeDetailData.start_date" validation="required" class="datepicker"/>
                            </md-input-container>
                        </div>
                        <div flex="50">
                            <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                                <label>{{'repeat_to' | translate}}</label>
                                <md-icon>today</md-icon>
                                <input type="text" name="schedule_repeat_to" ng-model="routeDetailData.end_date" validation="required" class="datepicker"/>
                            </md-input-container>
                        </div>
                    </div>
                </md-card>
                <md-card class="padding30 bg-white">
                    <h1 class="md-title3" style="line-height: 45px;">
                        {{'route_points' | translate}}
                        <md-button class="md-icon-button" ng-click="addPoint(routeDetailData.id);" style="float:right;">
                            <md-icon style="line-height: 10px; font-size: 35px;">add_circle</md-icon>
                        </md-button>
                    </h1>
                    <md-divider></md-divider>
                    <ul layout-fill ui-sortable="sortableOptions" ng-model="points" class="custom_list">
                        <li flex layout-fill layout="row" ng-repeat="point in points" class="custom_row custom_list_item" data-id="{{point.id}}" data-rid="{{routeDetailData.id}}">
                            <div flex="25" style="padding-top: 25px;" class="fst_col">
                                <md-icon size="30" ng-if="point.action == 2">directions_bus</md-icon>
                                <md-icon size="30">person_outline</md-icon>
                                <md-icon size="30">keyboard_arrow_right</md-icon>
                                <md-icon size="30" ng-if="point.action == 1">directions_bus</md-icon>
                            </div>
                            <md-input-container flex class="marright5 md-input-has-validate" flex="32">
                                <label>{{'location_ad' | translate}}</label>
                                <input type="text" name="point_ad_{{point.id}}" ng-model="point.location_ad" validation="required" readonly />
                            </md-input-container>
                            <md-input-container flex class="marright5 md-input-has-validate" flex="33">
                                <label>{{'location_name' | translate}}</label>
                                <input type="text" name="point_name_{{point.id}}" ng-model="point.location_name"/>
                            </md-input-container>
                            <md-input-container flex class="marright5 md-input-has-validate" flex="5">
                                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="pointDetail(point.id);" ng-disabled="isLoading">
                                    <md-icon>mode_edit</md-icon>
                                </md-button>
                            </md-input-container>
                        </li>
                    </ul>
                </md-card>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="public/views/route/point-detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="form" novalidate>
                    <div flex layout-fill layout="row" class="">
                        <div flex="50" >
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill >
                                <label>{{'location_ad' | translate}}</label>
                                <md-icon>business</md-icon>
                                <input type="text" name="point_location_ad" ng-model="pointDetail.location_ad" validation="required|min_len:5"/>
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'location_x' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="point_location_x" ng-model="pointDetail.location_x" />
                            </md-input-container>

                            <md-checkbox  class="md-icon-float md-input-has-validate " ng-model="pointDetail.futrSche">
                                {{'future_schedule' | translate}}
                            </md-checkbox>

                        </div>
                        <div flex="50">
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'location_name' | translate}}</label>
                                <md-icon>error</md-icon>
                                <input type="text" name="point_location_ad" ng-model="pointDetail.location_name" />
                            </md-input-container>


                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'location_y' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="point_location_y" ng-model="pointDetail.location_y" />
                            </md-input-container>
                        </div>



                    </div>
                </form>
            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>

<script type="text/ng-template" id="public/views/route/point-add.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">
                <form name="form" novalidate>
                    <div flex layout-fill layout="row" class="">
                        <div flex="100" >
                            <md-select ng-model="pointDetail.child_id" placeholder="{{'select_child' | translate}}">
                                <md-option ng-repeat="child in childs" ng-value="{{child.id}}" >{{child.name}}</md-option>
                            </md-select>
                            <md-checkbox  class="md-icon-float md-input-has-validate " ng-model="pointDetail.futrSche">
                                {{'future_schedule' | translate}}
                            </md-checkbox>
                        </div>
                    </div>

                    <div flex layout-fill layout="row" class="">
                        <div flex="50" >
                            <md-input-container flex class="md-icon-float md-input-has-validate height75 hide" layout-fill  >
                                <label>{{'route_id' | translate}}</label>
                                <md-icon>business</md-icon>
                                <input type="text" name="point_route_id" ng-model="pointDetail.route_id"/>
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill >
                                <label>{{'pickup_location_ad' | translate}}</label>
                                <md-icon>business</md-icon>
                                <input type="text" name="pickup_location_ad" ng-model="pointDetail.pickup_location_ad" validation="required|min_len:5"/>
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'pickup_location_x' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="pickup_location_x" ng-model="pointDetail.pickup_location_x" />
                            </md-input-container>

                            
                        </div>
                        <div flex="50">
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'pickup_location_name' | translate}}</label>
                                <md-icon>error</md-icon>
                                <input type="text" name="pickup_location_name" ng-model="pointDetail.pickup_location_name" />
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'pickup_location_y' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="pickup_location_y" ng-model="pointDetail.pickup_location_y" />
                            </md-input-container>

                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div flex layout-fill layout="row" class="">
                        <div flex="50" >
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill >
                                <label>{{'drop_location_ad' | translate}}</label>
                                <md-icon>business</md-icon>
                                <input type="text" name="drop_location_ad" ng-model="pointDetail.drop_location_ad" validation="required|min_len:5"/>
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'drop_location_x' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="drop_location_x" ng-model="pointDetail.drop_location_x" />
                            </md-input-container>

                        </div>
                        <div flex="50">
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'drop_location_name' | translate}}</label>
                                <md-icon>error</md-icon>
                                <input type="text" name="drop_location_name" ng-model="pointDetail.drop_location_name" />
                            </md-input-container>
                            <md-input-container flex class="md-icon-float md-input-has-validate height75" layout-fill>
                                <label>{{'drop_location_y' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <input type="text" name="drop_location_y" ng-model="pointDetail.drop_location_y" />
                            </md-input-container>
                        </div>
                    </div>

                </form>
            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>