<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'route-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="createRoute($event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-route' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadroute">
        <tr>
            <th order-by="name" name="{{'name' | translate}}"></th>
            <th order-by="driver_name" name="{{'driver' | translate}}"></th>
            <th order-by="assistant_name" name="{{'assistant' | translate}}"></th>
            <th order-by="license_plate_no" name="{{'bus' | translate}}"></th>
            <th order-by="status" name="{{'status' | translate}}"></th>
            <th order-by="plan_date" name="{{'plan_date' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="route in routes">
            <td>{{route.name || 'N/A'}}</td>
            <td>{{route.driver_name || 'N/A'}}</td>
            <td>{{route.assistant_name || 'N/A'}}</td>
            <td>{{route.license_plate_no || 'N/A'}}</td>
            <td>{{ route.status == 1 ? 'Active' : 'Deactive' }}</td>
            <td>{{(route.plan_date | date:'MM/dd/yyyy') || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="copyRoute($event,route.id)" ng-disabled="isLoading">
                    <md-icon>library_books</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="goRouteDetail(route.id)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeRoute(route.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadRoute"></md-data-table-pagination>
