<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-register">
        <div class="md-dialog-content">

            <form name="form" validate>
                <div layout="column" layout-align="center center">
                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'name' | translate}}</label>
                        <md-icon>account_circle</md-icon>
                        <input type="text" name="name" ng-model="company.name" validation="required|min_len:5"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'address' | translate}}</label>
                        <md-icon>email</md-icon>
                        <input type="text" name="address" ng-model="company.address" validation="required|min_len:5"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'map_settings' | translate}}</label>
                        <md-icon>settings</md-icon>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <div layout="row" layout-wrap flex class="padleft30">
                            <div flex="50">
                                <md-checkbox ng-model="company.map_tracking">
                                    {{'map_tracking' | translate}}
                                </md-checkbox>
                            </div>
                            <div flex="50">
                                <md-checkbox ng-model="company.parent_map">
                                    {{'parent_map' | translate}}
                                </md-checkbox>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'mode' | translate}}</label>
                        <md-icon>extension</md-icon>
                    </md-input-container>
                    <md-input-container flex class="marright5 md-input-has-validate padleft30" layout-fill>
                        <md-checkbox ng-model="bc_mode_lv1" ng-checked="true" ng-disabled="true">
                            {{'bc_mode_lv1' | translate}}
                        </md-checkbox>
                        <md-checkbox ng-model="bc_mode_lv2" ng-disabled="true">
                            {{'bc_mode_lv2' | translate}}
                        </md-checkbox>
                        <md-checkbox ng-model="bc_mode_lv3" ng-disabled="true || bc_mode_lv3_disabled">
                            {{'bc_mode_lv3' | translate}}
                        </md-checkbox>
                        <md-checkbox ng-model="bc_mode_lv4" ng-change="bcModeRequired(bc_mode_lv4, 3)" ng-disabled="true">
                            {{'bc_mode_lv4' | translate}}
                        </md-checkbox>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'status' | translate}}</label>
                        <md-icon>public</md-icon>
                    </md-input-container>
                    <md-input-container flex class="marright5 md-input-has-validate" layout-fill>
                        <md-select ng-model="company.status" ng-required="true" aria-label="{{'status' | translate}}">
                            <md-option ng-value="1">{{'active' | translate}}</md-option>
                            <md-option ng-value="0">{{'deactive' | translate}}</md-option>
                        </md-select>
                    </md-input-container>

                </div>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'save' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>