<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'company-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="companyDetail(0, $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-company' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadCompanies">
        <tr>
            <th order-by="name" name="{{'name' | translate}}"></th>
            <th order-by="address" name="{{'address' | translate}}"></th>
            <th order-by="status" name="{{'status' | translate}}"></th>
            <th order-by="mode" name="{{'mode' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="company in companies">
            <td>{{company.name || 'N/A'}}</td>
            <td>{{company.address || 'N/A'}}</td>
            <td>{{(company.status == 1 ? 'active' : 'deactive') | translate}}</td>
            <td>{{companyMode(company.mode)}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="companyDetail(company.id, $event)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadCompanies"></md-data-table-pagination>