<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex>
            <h2 class="md-title">{{'attendance' | translate}}</h2>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadStaffAttendance">
        <tr>
            <th order-by="dt" name="{{'date' | translate}}"></th>
            <th order-by="staff" name="{{'total_staff' | translate}}"></th>
            <th order-by="checkIn" name="{{'check_in' | translate}}"></th>
            <th order-by="checkOut" name="{{'check_out' | translate}}"></th>
            <th order-by="absent" name="{{'absent' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items" ng-click="staffAttendanceDetail((item.date_stand | date : 'yyyy-MM-dd'))">
            <td>{{(item.date_view | date : 'dd-MMM-yyyy EEE') || 'N/A'}}</td>
            <td>{{item.staff || 0}}</td>
            <td>{{item.checkIn || 0}}</td>
            <td>{{item.checkOut || 0}}</td>
            <td>{{item.absent || 0}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadStaffAttendance"></md-data-table-pagination>