<div layout="row" flex style="padding-left: 0;">
    <md-button ng-click="back()" class="md-raised md-default mar0">
        {{'back' | translate}}
    </md-button>
</div>

<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex>
            <h2 class="md-title">{{'attendance' | translate}}: {{current_date | date : 'dd-MMM-yyyy EEE'}}</h2>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-progress="deferred">
        <thead md-trigger="loadStaffAttendance">
        <tr>
            <th name="{{'type' | translate}}"></th>
            <th name="{{'name' | translate}}"></th>
            <th name="{{'in' | translate}}"></th>
            <th name="{{'time' | translate}}"></th>
            <th name="{{'out' | translate}}"></th>
            <th name="{{'time' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.type == 2 ? ('driver' | translate) : ('assistant' | translate)}}</td>
            <td>{{item.name || 'N/A'}}</td>
            <td>
                <md-icon ng-click="onManualStaffCheckIn($index, $event)" ng-class="{'green': item.in && item.in_owner, 'orange': item.in && !item.in_owner}">{{(item.in || item.absent) ? 'radio_button_on' : 'radio_button_off'}}</md-icon>
            </td>
            <td>{{(item.in_time | date : 'HH:mm') || 'N/A'}}</td>
            <td><md-icon ng-class="{'green': item.out && item.in_owner, 'orange': item.out && !item.in_owner}">{{(item.out || item.absent) ? 'radio_button_on' : 'radio_button_off'}}</md-icon></td>
            <td>{{(item.out_time | date : 'HH:mm') || 'N/A'}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<script type="text/ng-template" id="public/views/company/staff-manual-status.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                            <label>{{'status' | translate}}</label>
                            <md-icon>public</md-icon>
                        </md-input-container>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                            <md-select ng-model="staff.manual_status" ng-required="true" aria-label="{{'status' | translate}}">
                                <md-option ng-value="1">{{'checkin' | translate}}</md-option>
                                <md-option ng-value="-1">{{'absent' | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'save' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>
