<md-data-table-toolbar style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);">
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'config-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="saveConfig()" ng-disabled="isLoading">
                {{'save-config' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <form name="form" novalidate>
        <div layout="column" layout-align="center center" class="padding20 bg-white">
            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <md-switch class="md-primary" md-no-ink aria-label="{{'map_tracking' | translate}}" ng-model="config.map_tracking" ng-true-value="1" ng-false-value="0">
                    {{'map_tracking' | translate}}
                </md-switch>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <md-switch class="md-primary" md-no-ink aria-label="{{'parent_map' | translate}}" ng-model="config.parent_map" ng-true-value="1" ng-false-value="0">
                    {{'parent_map' | translate}}
                </md-switch>
            </md-input-container>
        </div>

    </form>
</md-data-table-container>
