<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'config-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="saveConfig()" ng-disabled="isLoading">
                {{'save-config' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <form name="form" novalidate>
        <div layout="column" layout-align="center center" class="padding20">
            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'auto_alight_after' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="auto_alight_after" ng-model="configs.auto_alight_after" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'gps_report' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="gps_report" ng-model="configs.gps_report" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'location_range' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="location_range" ng-model="configs.location_range" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'new_index' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="new_index" ng-model="configs.new_index" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'increase' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="increase" ng-model="configs.increase" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'decrease' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="decrease" ng-model="configs.decrease" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'max_index' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="max_index" ng-model="configs.max_index" validation="required"/>
            </md-input-container>

            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'manual_index' | translate}}</label>
                <md-icon>settings</md-icon>
                <input type="text" name="manual_index" ng-model="configs.manual_index" validation="required"/>
            </md-input-container>

        </div>

    </form>
</md-data-table-container>
