<div layout="row" flex>
    <div flex-gt-md="50" flex-offset-gt-md="25" flex layout="columns" layout-align="center center">

        <div class="md-whiteframe-2dp md-padding pad20" layout-padding layout-fill="">
            <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>

            <h3 class="md-headline">{{'change-password' | translate}}</h3>

            <form name="forgot">

                <div layout="column">

                    <md-input-container flex class="md-icon-float">
                        <label>{{'new-password' | translate}}</label>
                        <md-icon>lock</md-icon>
                        <input type="password" name="upass" ng-model="user.password" validation="required|min_len:3">
                    </md-input-container>

                    <md-input-container flex class="md-icon-float">
                        <label>{{'renew-password' | translate}}</label>
                        <md-icon>lock</md-icon>
                        <input type="password" name="reupass" ng-model="user.repassword" validation="required|min_len:3|match:user.password:alt={{'password_not_match' | translate}}">
                    </md-input-container>

                    <div layout="row">
                        <div flex>
                            <md-button flex class="md-raised md-primary" ng-click="submit()" ng-disabled="isLoading">{{'change-password' | translate}}</md-button>
                            <md-button ng-click="cancel()" class="md-raised md-warn">{{'cancel' | translate}}</md-button>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>