<div layout="row" flex>
    <div flex-gt-md="50" flex-offset-gt-md="25" flex layout="columns" layout-align="center center" class="bg-white" ng-show="!blockBrowse()">

        <div class="md-whiteframe-2dp md-padding pad20" layout-padding layout-fill="" >
            <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>

            <h3 class="md-headline">{{'login' | translate}}</h3>

            <form name="loginForm" novalidate ng-submit="submit()" >

                <div layout="column">

                    <md-input-container flex class="md-icon-float md-input-has-validate">
                        <label>{{'username/email' | translate}}</label>
                        <md-icon>person</md-icon>
                        <input type="text" name="uname" ng-model="user.username" validation="required">
                    </md-input-container>

                    <md-input-container flex class="md-icon-float md-input-has-validate">
                        <label>{{'password' | translate}}</label>
                        <md-icon>lock</md-icon>
                        <input type="password" name="upass" ng-model="user.password" validation="required">
                    </md-input-container>

                </div>
                    </md-input-container>
                    <div layout="row">
                        <div flex>
                            <md-button type="submit" flex class="md-raised md-primary" ng-disabled="isLoading">{{'login' | translate}}</md-button>
                            <md-button type="button" class="md-raised md-primary" ng-click="register($event)">{{'register' | translate}}</md-button>
                            <md-button type="button" ng-click="forgot($event)">{{'forgot_password' | translate}}</md-button>
                        </div>
                    </div>

                </div>

            </form>
          
                
            </div>

        </div>

    </div>

      <div flex-gt-md="50" flex-offset-gt-md="25" flex layout="columns" layout-align="center center" ng-show="blockBrowse()">
                <div class="alert alert-warning">
                    <p>{{'block_browse' | translate}}</p>
                </div>
            </div>
        <div>
</div>

<script type="text/ng-template" id="public/views/auth/forgot.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'forgot_password' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="forgot" novalidate ng-submit="submit()">

                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'email' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="forgot_email" ng-model="user.email" validation="required|email"/>
                        </md-input-container>

                        <div flex="none">
                            <div
                                    vc-recaptcha
                                    key="'6LeVxQATAAAAAJS3t2t7UShN64ox0i8M6FDXVBaK'"
                                    on-create="setWidgetId(widgetId)"
                                    on-success="setResponse(response)"
                                    ></div>
                        </div>
                    </div>

                </form>

                 

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit()" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>