<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'register-new-account' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-register">
        <div class="md-dialog-content">

            <form name="register" novalidate ng-submit="submit(register, $event)">

                <div layout="column" layout-align="center center">
                    <div layout layout-sm="column" flex layout-fill>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'username' | translate}}</label>
                            <md-icon>person</md-icon>
                            <input type="text" name="username" ng-model="user.username" validation="required|min_len:2"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                            <label>{{'email' | translate}}</label>
                            <md-icon>email</md-icon>
                            <input type="text" name="email" ng-model="user.email" validation="required|email"/>
                        </md-input-container>
                    </div>

                    <div layout layout-sm="column" flex layout-fill>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'password' | translate}}</label>
                            <md-icon>lock</md-icon>
                            <input type="password" name="password" ng-model="user.password" passcomp />
                            <span ng-show="register.password.$error.passcomp" class="validation validation-password text-danger">{{'pass_comp_invalid' | translate}}</span>

                        </md-input-container>

                        <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                            <label>{{'re-password' | translate}}</label>
                            <md-icon>lock</md-icon>
                            <input type="password" name="repassword" ng-model="user.repassword" validation="required|match:user.password:alt={{'password_not_match' | translate}}"/>
                        </md-input-container>
                    </div>

                    <div layout="column" flex layout-fill>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'company-name' | translate}}</label>
                            <md-icon>store</md-icon>
                            <input type="text" name="company-name" ng-model="user.company" validation="required|min_len:3"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float marleft5">
                            <label>{{'company-address' | translate}}</label>
                            <md-icon>home</md-icon>
                            <textarea name="company-address" ng-model="user.address"></textarea>
                        </md-input-container>
                    </div>

                    <div flex="none">
                        <div
                            vc-recaptcha
                            key="'6LeVxQATAAAAAJS3t2t7UShN64ox0i8M6FDXVBaK'"
                            on-create="setWidgetId(widgetId)"
                            on-success="setResponse(response)"
                            ></div>
                    </div>
                </div>
            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit(register, $event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'accept' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>