<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'group-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="groupDetail('', $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-group' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadGroup">
        <tr>
            <th order-by="name" name="{{'name' | translate}}"></th>
            <th order-by="description" name="{{'description' | translate}}"></th>
            <th order-by="status" name="{{'status' | translate}}"></th>
            <th order-by="created_at" name="{{'created_at' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups">
            <td>{{group.name || 'N/A'}}</td>
            <td>{{group.description || 'N/A'}}</td>
            <td>{{ group.status == 1 ? 'Active' : 'Deactive' }}</td>
            <td>{{(group.created_at | date:'MM/dd/yyyy') || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="groupDetail(group.id, $event)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeGroup(group.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadGroup"></md-data-table-pagination>

<script type="text/ng-template" id="public/views/group/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">

                <form name="form" novalidate>

                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'name' | translate}}</label>
                            <md-icon>group</md-icon>
                            <input type="text" name="group_name" ng-model="groupDetail.name" validation="required|min_len:5"/>
                        </md-input-container>

                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'description' | translate}}</label>
                            <md-icon>comment</md-icon>
                            <textarea name="group_description" ng-model="groupDetail.desc" validation=""></textarea>
                        </md-input-container>
                    </div>

                    <div layout="column">
                        <md-switch ng-model="groupDetail.status" class="md-block md-primary">
                            {{ (groupDetail.status ? 'active' : 'deactive') | translate }}
                        </md-switch>
                    </div>

                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>