<md-data-table-toolbar ng-hide="hiddenEdge">
    <div layout="row" layout-fill class="martop5">
        <div flex="20">
            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'past_hour' | translate}}</label>
                <md-icon>access_time</md-icon>
                <input type="text" name="past_hour" ng-model="past_hour"/>
            </md-input-container>
        </div>
        <div flex="20">
            <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                <label>{{'next_hour' | translate}}</label>
                <md-icon>access_time</md-icon>
                <input type="text" name="next_hour" ng-model="next_hour"/>
            </md-input-container>
        </div>
        <div flex="10">
            <md-button class="md-primary md-raised marbottom0 martop10" ng-click="bcMapFilter()" ng-disabled="isLoading || (!past_hour || !next_hour)">
                {{'filter' | translate}}
            </md-button>
        </div>
        <div flex layout-align="end center" layout="row" ng-if="isAdmin">
            <md-button class="md-primary md-raised" ng-click="startDemo()" ng-disabled="demoStarted">
                {{'start' | translate}}
            </md-button>
        </div>
    </div>
</md-data-table-toolbar>

<md-data-table-container>
    <bmap options="bmapOptions" edge-height="{{ !hiddenEdge ? 64 : 0 }}" parent-target="MD-CONTENT"></bmap>
</md-data-table-container>