<div layout="row" class="md-padding">

    <section flex class="md-whiteframe-z1 my-account">
        <md-content>
            <md-tabs class="md-primary custom-tabs" md-stretch-tabs="always" md-dynamic-height="true">
                <md-tab label="{{'basic-info' | translate}}" class="md-padding">
                    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoadingBasic"></md-progress-linear>

                    <form name="basic" class="bg-white">
                        <div layout="column" layout-padding>
                            <div flex flex-offset="10">
                                <img ng-src="{{ accInfo.image }}" class="md-avatar img-circle purple"/>
                            </div>
                            <div fine-uploader flex="30" flex-offset="10"
                                 model="accInfo.image"
                                 csrf="_csrf"
                                 endpoint="/profile/upl"></div>
                        </div>

                        <div layout="column" layout-align="center center" layout-padding>
                            <div layout layout-sm="column" flex layout-fill>
                                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                                    <label>{{'username' | translate}}</label>
                                    <md-icon>person</md-icon>
                                    <input type="text" name="username" ng-model="accInfo.username" ng-disabled="true"/>
                                </md-input-container>

                                <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                    <label>{{'email' | translate}}</label>
                                    <md-icon>email</md-icon>
                                    <input type="text" name="email" ng-model="accInfo.email" validation="required|email"/>
                                </md-input-container>
                                <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                    <label>{{'fullname' | translate}}</label>
                                    <md-icon>person</md-icon>
                                    <input type="text" name="fullname" ng-model="accInfo.fullname" validation="required"/>
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="column" layout-align="center center" layout-padding>
                            <div layout layout-sm="column" flex layout-fill>
                                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                                    <label>{{'mobile-phone' | translate}}</label>
                                    <md-icon>contact_phone</md-icon>
                                    <input type="text" name="mobile-phone" ng-model="accInfo.mobile_phone" validation=""/>
                                </md-input-container>

                                <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                    <label>{{'home-phone' | translate}}</label>
                                    <md-icon>contact_phone</md-icon>
                                    <input type="text" name="home-phone" ng-model="accInfo.home_phone" validation=""/>
                                </md-input-container>

                                <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                    <label>{{'office-phone' | translate}}</label>
                                    <md-icon>contact_phone</md-icon>
                                    <input type="text" name="office-phone" ng-model="accInfo.office_phone" validation=""/>
                                </md-input-container>

                                <!--<md-input-container flex >-->
                                <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                    <label >{{'locale' | translate}}</label>
                                    <md-icon>language</md-icon>
                                    <md-select ng-model="accInfo.locale" ng-placehoder="{{'locale' | translate}}" ng-required="true">
                                        <md-option value="en-US" >{{'english' | translate}}</md-option>
                                        <md-option value="zh-HK" >{{'chinese' | translate}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>


                        <div class="md-actions md-padding" layout="row">
                            <md-button ng-click="submit(basic, 'accInfo', 'Basic')" class="md-raised md-primary" ng-disabled="isLoadingBasic">
                                {{'accept' | translate}}
                            </md-button>
                            <md-button ng-click="cancel()" class="md-raised md-warn">
                                {{'cancel' | translate}}
                            </md-button>
                        </div>
                    </form>
                </md-tab>
                <md-tab label="{{'company-info' | translate}}" ng-if="role == 'bus-company'">
                    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoadingCompany"></md-progress-linear>

                    <form name="company" class="martop10 bg-white">
                        <div layout layout-padding>
                            <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                <label>{{'company-name' | translate}}</label>
                                <md-icon>business</md-icon>
                                <input type="text" name="company-name" ng-model="comInfo.name" validation="required"/>
                            </md-input-container>
                        </div>

                        <div layout layout-padding>
                            <md-input-container flex class="md-icon-float marleft5">
                                <label>{{'company-address' | translate}}</label>
                                <md-icon>location_on</md-icon>
                                <textarea ng-model="comInfo.address" name="company-address"></textarea>
                            </md-input-container>
                        </div>

                        <div class="md-actions md-padding" layout="row">
                            <md-button ng-click="submit(company, 'comInfo', 'Company')" class="md-raised md-primary" ng-disabled="isLoadingCompany">
                                {{'accept' | translate}}
                            </md-button>
                            <md-button ng-click="cancel()" class="md-raised md-warn">
                                {{'cancel' | translate}}
                            </md-button>
                        </div>

                    </form>
                </md-tab>
                <md-tab label="{{'security-info' | translate}}">
                    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoadingSecurity"></md-progress-linear>
                    <form name="security" class="martop10 bg-white">
                        <div layout layout-padding>
                            <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                <label>{{'old-password' | translate}}</label>
                                <md-icon>lock</md-icon>
                                <input type="password" name="old-password" ng-model="secInfo.old_password" validation="required|min_len:3"/>
                            </md-input-container>
                        </div>
                        <div layout layout-padding>
                            <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                <label>{{'new-password' | translate}}</label>
                                <md-icon>lock</md-icon>
                                <input type="password" name="new_password" ng-model="secInfo.new_password" passcomp/>
                                <span ng-show="security.new_password.$error.passcomp" class="validation validation-password text-danger">{{'pass_comp_invalid' | translate}}</span>
                            </md-input-container>
                        </div>
                        <div layout layout-padding>
                            <md-input-container flex class="md-icon-float marleft5 md-input-has-validate">
                                <label>{{'renew-password' | translate}}</label>
                                <md-icon>lock</md-icon>
                                <input type="password" name="re-new-password" ng-model="secInfo.renew_password" validation="required|match:secInfo.new_password:alt={{'password_not_match' | translate}}"/>
                            </md-input-container>
                        </div>

                        <div class="md-actions md-padding" layout="row">
                            <md-button ng-click="submit(security, 'secInfo', 'Security')" class="md-raised md-primary" ng-disabled="isLoadingSecurity">
                                {{'accept' | translate}}
                            </md-button>
                            <md-button ng-click="cancel()" class="md-raised md-warn">
                                {{'cancel' | translate}}
                            </md-button>
                        </div>
                    </form>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>

</div>