<div layout="row" flex>
    <div flex-gt-md="50" flex-offset-gt-md="25" flex layout="columns" layout-align="center center" class="bg-white">

        <div class="md-whiteframe-2dp md-padding pad20" layout-padding layout-fill="">
            <h3 class="md-headline">{{'thanks' | translate}}</h3>


            <div layout="column">

                <p>{{message}}</p>

            </div>


        </div>

    </div>
</div>