<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'new-calendar' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-fix">
        <div class="md-dialog-content">

            <form name="form" class="horizontal-form" validate>
                <div layout="column" layout-align="center center">
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'name' | translate}}</label>
                        <md-icon>today</md-icon>
                        <input type="text" name="name" ng-model="calendar.name" validation="required|min_len:5"/>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'inherit' | translate}}</label>
                        <md-icon>import_export</md-icon>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 only_label" layout-fill>
                        <md-select ng-model="calendar.inherits" placeholder="{{'choose_inherit' | translate}}" multiple aria-label="{{'inherit' | translate}}">
                            <md-option ng-repeat="inherit in inherits" ng-value="inherit.id" ng-if="inherit.id != schedule.id">{{inherit.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'status' | translate}}</label>
                        <md-icon>event_available</md-icon>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <md-select ng-model="calendar.status" ng-required="true" aria-label="{{'status' | translate}}">
                            <md-option ng-value="0">{{'disable' | translate}}</md-option>
                            <md-option ng-value="1">{{'active' | translate}}</md-option>
                            <md-option ng-value="2">{{'confirm' | translate}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <label>{{'shared_type' | translate}}</label>
                        <md-icon>public</md-icon>
                    </md-input-container>
                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                        <md-select ng-model="calendar.shared_type" ng-required="true" aria-label="{{'shared_type' | translate}}">
                            <md-option ng-value="1">{{'public' | translate}}</md-option>
                            <md-option ng-value="2">{{'private' | translate}}</md-option>
                        </md-select>
                    </md-input-container>

                    <div flex ng-if="user._role == 'admin'" layout-fill>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                            <label>{{'owner' | translate}}</label>
                            <md-icon>person_outline</md-icon>
                        </md-input-container>
                        <div layout="row">
                            <div flex="50">
                                <md-select ng-model="calendar.owner_type" ng-change="onOwnerTypeChange()" aria-label="{{'owner' | translate}}">
                                    <md-option ng-value="0">{{'me' | translate}}</md-option>
                                    <md-option ng-value="1">{{'sba' | translate}}</md-option>
                                    <md-option ng-value="2">{{'bc' | translate}}</md-option>
                                </md-select>
                            </div>
                            <div flex="50" ng-if="calendar.owner_type != 0">
                                <md-autocomplete flex md-no-cache="true"
                                                 md-selected-item="calendar.owner"
                                                 md-search-text="ownerKeyword"
                                                 md-items="item in usersSearch(ownerKeyword, calendar.owner_type)"
                                                 md-item-text="item.text"
                                                 placeholder="{{'choose_owner' | translate}}">

                                    <md-item-template>
                                        <span md-highlight-text="ownerKeyword">{{calendar.owner_type == 2 ? item.text : (item.text + (item.name ? (' (' + item.name +')') : ''))}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        {{'search_not_found' | translate}}
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                    </div>

                    <div flex ng-if="user.uId == calendar.owner_id && calendar.shared_type == 1" layout-fill>
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                            <label>{{'share' | translate}}</label>
                            <md-icon>group</md-icon>
                        </md-input-container>

                        <md-card class="pad20 bg-white" ng-if="calendar.shared_users.length">
                            <md-list  class="fix-md-list">
                                <md-list-item ng-repeat="user in calendar.shared_users">
                                    <div layout="row" layout-fill>
                                        <div flex="50"><p class="mar0 padtop10 padbottom10">{{user.email}}</p></div>
                                        <div flex="50">
                                            <md-select class="fix-margin" ng-model="calendar.shared_users[$index].role" aria-label="{{'owner' | translate}}">
                                                <md-option ng-value="1">{{'role_read_only' | translate}}</md-option>
                                                <md-option ng-value="2">{{'role_add_schedule' | translate}}</md-option>
                                                <md-option ng-value="3">{{'role_edit_schedule' | translate}}</md-option>
                                                <md-option ng-value="4">{{'role_delete_schedule' | translate}}</md-option>
                                            </md-select>
                                        </div>
                                    </div>

                                    <md-icon ng-click="onRemoveSharedUser($index)">clear</md-icon>
                                </md-list-item>
                            </md-list>
                        </md-card>
                        <md-autocomplete flex md-no-cache="true"  md-selected-item-change="onShareUserSelected(item)"
                                         md-selected-item="currentUserShared"
                                         md-search-text="userKeyword"
                                         md-items="item in usersSearch(userKeyword)"
                                         md-item-text="item.email"
                                         placeholder="{{'people' | translate}}">

                            <md-item-template>
                                <span md-highlight-text="userKeyword">{{item.email + (item.name ? (' (' + item.name +')') : '')}}</span>
                            </md-item-template>
                            <md-not-found>
                                {{'search_not_found' | translate}}
                            </md-not-found>
                        </md-autocomplete>
                    </div>

                    <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                        <label>{{'description' | translate}}</label>
                        <md-icon>comment</md-icon>
                        <textarea name="description" ng-model="calendar.description" validation=""></textarea>
                    </md-input-container>
                </div>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'accept' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>