<div layout="row" flex style="padding-left: 0;">
    <md-button ng-click="goBack()" class="md-raised md-default mar0">
        {{'back' | translate}}
    </md-button>
</div>

<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{calendar.name}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="scheduleForm(0, $event)" ng-disabled="isLoading">
                {{'new_schedule' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <div layout="column" class="bg-white pad5" flex>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>

        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
</md-data-table-container>