<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'calendar' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="calendarForm(0, $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'new-calendar' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadCalendar">
            <tr>
                <th order-by="name" name="{{'name' | translate}}"></th>
                <th name="{{'description' | translate}}"></th>
                <th name="{{'status' | translate}}"></th>
                <th name="{{'shared_type' | translate}}"></th>
                <th order-by="created_at" name="{{'created' | translate}}"></th>
                <th name="{{'actions' | translate}}"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="calendar in calendars">
                <td><a href ng-click="goCalendarDetail(calendar.id)">{{calendar.name || 'N/A'}}</a></td>
                <td>{{calendar.description || 'N/A'}}</td>
                <td>{{calendar.status == 0 ? ('disable' | translate) : (calendar.status == 1 ? ('active' | translate) : ('confirm' | translate))}}</td>
                <td>{{calendar.shared_type == 1 ? ('private' | translate) : ('public' | translate)}}</td>
                <td>{{(calendar.created_at | date:'MM/dd/yyyy') || 'N/A'}}</td>
                <td layout="row">
                    <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="calendarForm(calendar.id, $event)" ng-disabled="isLoading">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadCalendar"></md-data-table-pagination>
