<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'new_schedule' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-fix">
        <div class="md-dialog-content">

            <form name="form" class="horizontal-form" validate>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate" layout-fill>
                    <label>{{'title_calendar' | translate}}</label>
                    <md-icon>schedule</md-icon>
                    <input type="text" name="description" ng-model="schedule.description" validation="required|min_len:5"/>
                </md-input-container>

                <div layout="row">
                    <div flex="60">
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'date_from' | translate}}</label>
                            <md-icon>today</md-icon>
                            <input type="text" name="date_from" ng-model="schedule.date_from" validation="required" class="datepicker"/>
                        </md-input-container>
                    </div>
                    <div flex="40">
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'start_time' | translate}}</label>
                            <input type="text" name="time_from" ng-model="schedule.time_from" class="timepicker"/>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row">
                    <div flex="60">
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'date_to' | translate}}</label>
                            <md-icon>today</md-icon>
                            <input type="text" name="date_to" ng-model="schedule.date_to" class="datepicker"/>
                        </md-input-container>
                    </div>
                    <div flex="40">
                        <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                            <label>{{'end_time' | translate}}</label>
                            <input type="text" name="time_to" ng-model="schedule.time_to" class="timepicker"/>
                        </md-input-container>
                    </div>
                </div>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                    <label>{{'repeat' | translate}}</label>
                    <md-icon>repeat</md-icon>
                </md-input-container>
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                    <md-select ng-model="schedule.recurring" ng-required="true" aria-label="{{'repeat' | translate}}">
                        <md-option ng-value="'One'">{{'one' | translate}}</md-option>
                        <md-option ng-value="'SpecifyDates'">{{'specifydates' | translate}}</md-option>
                        <md-option ng-value="'Weekly'">{{'weekly' | translate}}</md-option>
                        <md-option ng-value="'Yearly'">{{'yearly' | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-card class="pad20 bg-white" ng-hide="!(schedule.recurring == 'SpecifyDates')">
                    <md-list ng-if="schedule.specify_dates.length" class="fix-md-list">
                        <md-list-item ng-repeat="date in schedule.specify_dates">
                            <p>{{date}}</p>
                            <md-icon ng-click="removeSpecialDate($index)">clear</md-icon>
                        </md-list-item>
                    </md-list>

                    <md-input-container flex class="md-icon-float marright5">
                        <label>{{'choose_date' | translate}}</label>
                        <md-icon>today</md-icon>
                        <input type="text" name="choose_date" ng-model="special_date_selected" ng-change="onSpecifyDateSelected()" class="datepicker"/>
                    </md-input-container>
                </md-card>
                <md-card class="padding20 bg-white" ng-hide="!(schedule.recurring == 'Weekly')">
                    <div flex layout-fill layout="row" class="custom_row">
                        <div flex="50">
                            <md-checkbox ng-model="schedule.wd2" aria-label="{{'monday' | translate}}">
                                {{'monday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="schedule.wd3" aria-label="{{'tuesday' | translate}}">
                                {{'tuesday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="schedule.wd4" aria-label="{{'wednesday' | translate}}">
                                {{'wednesday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="schedule.wd5" aria-label="{{'thursday' | translate}}">
                                {{'thursday' | translate}}
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <md-checkbox ng-model="schedule.wd6" aria-label="{{'friday' | translate}}">
                                {{'friday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="schedule.wd7" aria-label="{{'saturday' | translate}}">
                                {{'saturday' | translate}}
                            </md-checkbox>
                            <md-checkbox ng-model="schedule.wd1" aria-label="{{'sunday' | translate}}">
                                {{'sunday' | translate}}
                            </md-checkbox>
                        </div>
                    </div>
                </md-card>
                <md-card class="padding20 bg-white" ng-hide="!(schedule.recurring == 'Yearly')">
                    <div flex layout-fill layout="row" class="">
                        <div flex="20">
                            <md-select class="marleft10" ng-model="schedule.yearly_order" ng-required="true" aria-label="{{'repeat' | translate}}">
                                <md-option ng-value="1">{{'first' | translate}}</md-option>
                                <md-option ng-value="2">{{'second' | translate}}</md-option>
                                <md-option ng-value="3">{{'third' | translate}}</md-option>
                                <md-option ng-value="4">{{'fourth' | translate}}</md-option>
                                <md-option ng-value="10">{{'last' | translate}}</md-option>
                            </md-select>
                        </div>
                        <div flex="40">
                            <md-select class="marleft10" ng-model="schedule.yearly_weekid" ng-required="true" aria-label="{{'repeat' | translate}}">
                                <md-option ng-value="1">{{'sunday' | translate}}</md-option>
                                <md-option ng-value="2">{{'monday' | translate}}</md-option>
                                <md-option ng-value="3">{{'tuesday' | translate}}</md-option>
                                <md-option ng-value="4">{{'wednesday' | translate}}</md-option>
                                <md-option ng-value="5">{{'thursday' | translate}}</md-option>
                                <md-option ng-value="6">{{'friday' | translate}}</md-option>
                                <md-option ng-value="7">{{'saturday' | translate}}</md-option>
                            </md-select>
                        </div>
                        <div flex="40">
                            <md-select class="marleft10" ng-model="schedule.yearly_monthid" ng-required="true" aria-label="{{'repeat' | translate}}">
                                <md-option ng-value="1">{{'january' | translate}}</md-option>
                                <md-option ng-value="2">{{'february' | translate}}</md-option>
                                <md-option ng-value="3">{{'march' | translate}}</md-option>
                                <md-option ng-value="4">{{'april' | translate}}</md-option>
                                <md-option ng-value="5">{{'may' | translate}}</md-option>
                                <md-option ng-value="6">{{'june' | translate}}</md-option>
                                <md-option ng-value="7">{{'july' | translate}}</md-option>
                                <md-option ng-value="8">{{'august' | translate}}</md-option>
                                <md-option ng-value="9">{{'september' | translate}}</md-option>
                                <md-option ng-value="10">{{'october' | translate}}</md-option>
                                <md-option ng-value="11">{{'november' | translate}}</md-option>
                                <md-option ng-value="12">{{'december' | translate}}</md-option>
                            </md-select>
                        </div>
                    </div>
                </md-card>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <md-checkbox ng-model="schedule.mode" aria-label="{{'ignore_ph' | translate}}" style="margin-left: 36px;">
                        {{'ignore_ph' | translate}}
                    </md-checkbox>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                    <label>{{'where' | translate}}</label>
                    <md-icon>location_on</md-icon>
                </md-input-container>
                <md-autocomplete flex
                                 md-selected-item="schedule.location"
                                 md-search-text="searchText"
                                 md-items="item in locationSearch(searchText)"
                                 md-item-text="item.address"
                                 placeholder="{{'search_location' | translate}}">
                    <span md-highlight-text="searchText">{{item.address}}</span>
                </md-autocomplete>

                <md-input-container flex class="md-icon-float marright5 md-input-has-validate only_label" layout-fill>
                    <label>{{'inherit' | translate}}</label>
                    <md-icon>import_export</md-icon>
                </md-input-container>
                <md-input-container flex class="md-icon-float marright5 only_label" layout-fill>
                    <md-select ng-model="schedule.inherit_id" placeholder="{{'choose_inherit' | translate}}" aria-label="{{'inherit' | translate}}">
                        <md-option ng-repeat="inherit in schedule.inherits" ng-value="inherit.id">{{inherit.description}}</md-option>
                    </md-select>
                </md-input-container>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button type="button" ng-click="delete($event)" class="md-raised md-primary" ng-if="schedule.id && !schedule.shared" ng-disabled="isLoading">
            {{'delete' | translate}}
        </md-button>

        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading || schedule.shared">
            {{'save' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>