<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'log' | translate}}</h2>
        </div>
        <!--<div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="busDetail('', $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-bus' | translate}}
            </md-button>
        </div>-->
    </div>
</md-data-table-toolbar>

<md-data-table-container style="min-height: 500px;">
    <form name="form" novalidate>
        <div layout="column" layout-align="center center">
            <div flex layout-fill layout="row">
                <md-input-container  class="marright5 float-left" layout-fill>
                    <label>{{'date_select' | translate}}</label>
                    <input type="text" name="date_select" ng-model="select_date" validation="" class="datepicker"/>
                </md-input-container>
                <md-input-container class="marright5 float-left" layout-fill>
                    <label>{{'route_select' | translate}}</label>
                    <md-select ng-model="route_select" placeholder="{{'route_select' | translate}}" ng-change="getLog();">
                        <md-option ng-repeat="route in routes" ng-value="{{route.route_trip_id}}" >{{route.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div flex layout-fill layout="row" >
                <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="query.order" md-trigger="loadroute">
                    <tr>
                        <th name="{{'active_party' | translate}}"></th>
                        <th name="{{'action' | translate}}"></th>
                        <th name="{{'passive_party' | translate}}"></th>
                        <th name="{{'location_name' | translate}}"></th>
                        <th name="{{'current_index' | translate}}"></th>
                        <th name="{{'route_trip_date' | translate}}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in logs">
                        <td>{{log.worker_name || 'N/A'}}</td>
                        <td>{{ log.action == 1 ? 'Pick-up' : 'Drop-off' }}</td>
                        <td>{{log.child_name || 'N/A'}}</td>
                        <td>{{log.name || 'N/A'}}</td>
                        <td>{{log.current_index || 'N/A'}}</td>
                        <td>{{(log.route_trip_date | date:'MM/dd/yyyy') || 'N/A'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</md-data-table-container>
<script type="text/ng-template" id="public/views/card/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">
                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'name' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="profile_name" ng-model="cardDetail.name" validation="required|min_len:5"/>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="create_profile($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>

<script type="text/ng-template" id="public/views/card/sync.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">
                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <md-select ng-model="exist_profile" placeholder="{{'select_child' | translate}}" ng-required="true">
                                <md-option ng-repeat="child in childsList" ng-value="{{child.id}}" >{{child.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="sync_profile($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>