<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'register-new-child' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="dialog-register">
        <div class="md-dialog-content">

            <form name="form" novalidate>

                <div layout="column" layout-align="center center">
                    <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                        <label>{{'name' | translate}}</label>
                        <md-icon>person</md-icon>
                        <input type="text" name="child_name" ng-model="child.name" validation="required|min_len:5"/>
                    </md-input-container>
                </div>

            </form>

        </div>
    </md-dialog-content>
    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
    <div class="md-actions" layout="row">
        <md-button ng-click="submit($event)" class="md-raised md-primary" ng-disabled="isLoading">
            {{'accept' | translate}}
        </md-button>
        <md-button ng-click="cancel()" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>
</md-dialog>