<div layout="column" flex>

    <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>

    <div layout="row" flex>
        <md-button ng-click="confirm()" class="md-raised md-primary" ng-disabled="isLoading">
            {{'save' | translate}}
        </md-button>
        <md-button ng-click="go('child')" class="md-raised md-warn">
            {{'cancel' | translate}}
        </md-button>
    </div>

    <div layout="column" flex layout-padding class="martop20">

        <form name="childDetail" novalidate flex layout-fill layout="row" class="bg-white">

            <div flex="50">
                <md-input-container flex class="md-icon-float marright5 md-input-has-validate">
                    <label>{{'name' | translate}}</label>
                    <md-icon>person</md-icon>
                    <input type="text" name="child-name" ng-model="child.name" validation="required|min_len:5"/>
                </md-input-container>

                <md-input-container flex class="md-icon-float marright5">
                    <label>{{'id_no' | translate}}</label>
                    <md-icon>perm_identity</md-icon>
                    <input type="text" name="child-id" ng-model="child.id_no" validation="" ng-disabled="true"/>
                </md-input-container>

                <div layout="row" layout-align="start center">
                    <label>{{'status' | translate}}</label>
                    <md-switch ng-model="child.status" class="md-block md-primary">
                        {{ (child.status ? 'active' : 'deactive') | translate }}
                    </md-switch>
                </div>

                <label class="martop10">{{'groups' | translate}}</label>
                <md-chips ng-model="slcGroups" md-require-match="true" md-on-append="onAppendGroup($chip)">
                    <md-autocomplete
                            md-input-minlength="3"
                            md-selected-item="autoCpl.selectedItem"
                            md-search-text="autoCpl.searchText"
                            md-items="item in groupSearch(autoCpl.searchText)"
                            md-item-text="item.name"
                            placeholder="{{ 'search-for-group' | translate }}">
                        <span md-highlight-text="autoCpl.searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>

                <!--<div layout="row" flex layout-fill class="martop20">
                    <md-button ng-click="showDialog('child', $event)" class="md-raised md-primary">
                        {{'print-child-qr' | translate}}
                    </md-button>
                    <md-button ng-click="showDialog('guardian', $event)" class="md-raised md-primary">
                        {{'print-guardian-qr' | translate}}
                    </md-button>
                </div>

                <div layout="row" flex layout-fill>
                    <md-button ng-click="showDialog('otp', $event)" class="md-raised md-primary" ng-if="child.OTP != ''">
                        {{'one-time-password' | translate}}
                    </md-button>
                </div>-->
            </div>

            <div flex="50">
                <div layout="column" layout-padding>
                    <div flex flex-offset="10">
                        <img ng-src="{{ child.image }}" class="md-avatar img-circle child-avatar purple"/>
                    </div>
                    <div fine-uploader flex="30" flex-offset="15"
                         model="child.image"
                         csrf="_csrf"
                         endpoint="/file/upl"></div>
                </div>

            </div>

        </form>

    </div>

</div>