<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'child-manage' | translate}}</h2>
        </div>
        <div flex layout-align="end center" layout="row" ng-if="role =! 'bus-company'">
            <md-button class="md-primary md-raised" ng-click="createChild($event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'register-new-child' | translate}}
            </md-button>
        </div>
    </div>

</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="loadChild">
        <tr>
            <th name="{{'avatar' | translate}}"></th>
            <th order-by="id_no" name="{{'id_no' | translate}}"></th>
            <th order-by="name" name="{{'name' | translate}}"></th>
            <th order-by="status" name="{{'status' | translate}}"></th>
            <th order-by="create_at" name="{{'created_at' | translate}}"></th>
            <th name="{{'actions' | translate}}"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in childs">
            <td><img class="img-ava" ng-src="{{child.avatar}}" alt="{{child.name}}"/></td>
            <td>{{child.id_no || 'N/A'}}</td>
            <td>{{child.name || 'N/A'}}</td>
            <td>{{ child.status == 1 ? 'Active' : 'Deactive' }}</td>
            <td>{{(child.create_at | date:'MM/dd/yyyy') || 'N/A'}}</td>
            <td layout="row">
                <md-button class="md-icon-button md-ink-ripple md-primary" ng-click="goDetail(child.id)" ng-disabled="isLoading">
                    <md-icon>mode_edit</md-icon>
                </md-button>
                <md-button class="md-icon-button md-ink-ripple md-warn" ng-click="removeChild(child.id)" ng-disabled="isLoading">
                    <md-icon>block</md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="loadChild"></md-data-table-pagination>