<md-data-table-toolbar>
    <div layout="row" layout-fill>
        <div flex="50">
            <h2 class="md-title">{{'retrieve-profile' | translate}}</h2>
        </div>
        <!--<div flex layout-align="end center" layout="row">
            <md-button class="md-primary md-raised" ng-click="busDetail('', $event)" ng-disabled="isLoading">
                <md-icon>add</md-icon>
                {{'add-new-bus' | translate}}
            </md-button>
        </div>-->
    </div>
</md-data-table-toolbar>

<md-data-table-container>
    <form name="form" novalidate>
        <div layout="column" layout-align="center center">
            <div flex layout-fill layout="row">
                <md-card flex="45" class="padding20">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'child_card' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <input type="text" name="child_code" ng-model="card.child_code" validation="" readonly/>
                </md-card>
                <md-card flex="45" class="padding20" ng-hide="add_guardian == 0">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'guardian_card' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <input type="text" name="guardian_code" ng-model="card.guardian_code" validation="" readonly/>
                </md-card>
            </div>
            <!--<section flex layout="row" layout-sm="column" layout-align="center center" layout-wrap  ng-hide="card_option == 0">
                <label>{{'profile-retrieved' | translate}}</label>
                <md-radio-group ng-model="card_option_select" class="md-primary">
                    <md-radio-button value="1"> {{'new_profile' | translate}} </md-radio-button>
                    <md-radio-button value="2">{{'link_to_profile' | translate}}</md-radio-button>
                </md-radio-group>
                <md-button-group>
                    <md-button class="md-raised" ng-click="card_option_submit(profile.id);">{{'ok' | translate}}</md-button>
                </md-button-group>
            </section>-->
            <div flex layout-fill layout="row">
                <md-card flex="45" ng-hide="card_option == 0" class="padding20">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{'profile-retrieved' | translate}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-radio-group ng-model="card_option_select" class="md-primary">
                        <md-radio-button value="1"> {{'new_profile' | translate}} </md-radio-button>
                        <md-radio-button value="2">{{'link_to_profile' | translate}}</md-radio-button>
                    </md-radio-group>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised" ng-click="card_option_submit(profile.id);">{{'ok' | translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </form>
</md-data-table-container>
<script type="text/ng-template" id="public/views/card/detail.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">
                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <label>{{'name' | translate}}</label>
                            <md-icon>account_circle</md-icon>
                            <input type="text" name="profile_name" ng-model="cardDetail.name" validation="required|min_len:5"/>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="create_profile($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>

<script type="text/ng-template" id="public/views/card/sync.html">
    <md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="dialog-register">
            <div class="md-dialog-content">
                <form name="form" novalidate>
                    <div layout="column" layout-align="center center">
                        <md-input-container flex class="md-icon-float md-input-has-validate" layout-fill>
                            <md-select ng-model="exist_profile" placeholder="{{'select_child' | translate}}" ng-required="true">
                                <md-option ng-repeat="child in childsList" ng-value="{{child.id}}" >{{child.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" class="md-warn" ng-show="isLoading"></md-progress-linear>
        <div class="md-actions" layout="row">
            <md-button ng-click="sync_profile($event)" class="md-raised md-primary" ng-disabled="isLoading">
                {{'accept' | translate}}
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-warn">
                {{'cancel' | translate}}
            </md-button>
        </div>
    </md-dialog>
</script>